body {
    background-color: #2F4F4F;
}

#about {
    color: #FFFFFF;
    font-size: 40px;
    text-align: center;
}

#url-form {
    text-align: center;
}

#form-container {
    position: static;
}

#submit-url {
    width: 400px;
}

#shortened-url-container {
    text-align: center;
    color: #FFFFFF;
}

#shortened-header {
    margin: 25px;
}

a:link {
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

#shortened-url {
    text-align: center;
    font-size: 20px;
    color: #FFFFFF;
}

.url-label {
    color: #FFFFFF;
}

.error {
    color: #FFFFFF;
    text-align: center;
}